<link rel="stylesheet" href="{{ 'custom-banner.css' |  asset_url }}" type="text/css">

<section class="custom-banner">
    <div class="banner-header">
        <!-- Logo -->
        <div class="logo">
          {% if section.settings.logo != blank %}
            <img 
              src="{{ section.settings.logo |  image_url: 'master' }}" 
              alt="Tisso Vison" 
              width="151.44" 
              height="19"
            >
          {% else %}
            <img src="{{ 'default-logo.png' | asset_url }}" alt="Tisso Vison logo" width="151.44" height="19">
          {% endif %}
        </div>
        <!-- Header -->
        <div class="p-banner">
            <p>{{ section.settings.header_text }}</p>
        </div>
        <!-- Choose Gift Button -->
        <div class="btn">
            <a href="{{ section.settings.btn_1_link }}" class="button" id="choose-gift">
              <p>{{ section.settings.button_1_text }}</p>
              <svg class="arrow-icon" width="27" height="12" viewBox="0 0 27 12" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 5.25C0.585786 5.25 0.25 5.58579 0.25 6C0.25 6.41421 0.585786 6.75 1 6.75L1 5.25ZM26.5303 6.53033C26.8232 6.23743 26.8232 5.76256 26.5303 5.46967L21.7574 0.696697C21.4645 0.403804 20.9896 0.403804 20.6967 0.696697C20.4038 0.989591 20.4038 1.46446 20.6967 1.75736L24.9393 6L20.6967 10.2426C20.4038 10.5355 20.4038 11.0104 20.6967 11.3033C20.9896 11.5962 21.4645 11.5962 21.7574 11.3033L26.5303 6.53033ZM1 6.75L26 6.75L26 5.25L1 5.25L1 6.75Z" fill="currentColor"/>
              </svg>
            </a>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Custom Banner",
    "settings": [
          {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo"
          },
          {
            "type": "text",
            "id": "header_text",
            "label": "Header Text",
            "default": "Find the ideal gift for your loved ones."
          },
          {
            "type": "url",
            "id": "btn_1_link",
            "label": "Button Link"
          },
          {
            "type": "text",
            "id": "button_1_text",
            "label": "Button Text",
            "default": "Choose Gift"
          }
        ],
        "presets": [
            {
                "name": "Custom Banner"
            }
        ]
}
{% endschema %}