<section class="custom-banner">
    <div class="banner-header">
        <!-- Logo -->
        <div class="logo">
          {% if section.settings.logo != blank %}
            <img 
              src="{{ section.settings.logo |  image_url: 'master' }}" 
              alt="Tisso Vison" 
              width="151.44" 
              height="19"
            >
          {% else %}
            <img src="{{ 'default-logo.png' | asset_url }}" alt="Tisso Vison logo" width="151.44" height="19">
          {% endif %}
        </div>
        <!-- Header -->
        <div class="p-banner">
            <p>{{ section.settings.header_text }}</p>
        </div>
        <!-- Choose Gift Button -->
        <div class="btn">
            <a href="{{ section.settings.btn_1_link }}" class="button" id="choose-gift">
              <p>{{ section.settings.button_1_text }}</p>
              <img src="{{ 'arrow1.png' |  asset_url }}" alt="arrow" class="arrow-icon" width="28" height="14">
            </a>
        </div>
    </div>
</section>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
  * {
    font-family: 'Jost';
  }

  /* Main container for the custom banner */
  .custom-banner {
    background-color: #f5f5f5;
    padding: 20px 0;
  }
  
  /* Container that holds content */
  .banner-header {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* Logo */
  .logo {
    padding: 0 16px;
  }
  .logo img {
    width: 151.44px;
    height: 19px;
  }

  /* Header Text */
  .p-banner {
    font-size: 16px;
    color: #000;
    text-align: center;
    flex: 1;
    padding: 0 20px;
    letter-spacing: 0.5px;
  }

  /* Button Choose Gift */
  .btn {
    padding: 0 16px;
  }
  #choose-gift {
    display: flex;
    align-items: center;
    gap: 10px;

    background-color: #fff544;
    padding: 4px 24px;
    text-align: center;
    line-height: 1;
    cursor: pointer;
  }
  .btn a {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    vertical-align: middle;
  }
  #choose-gift::before,
  #choose-gift::after {
    content: none;
    border: none;
    outline: none;
    display: none;
  }

  @media screen and (max-width: 768px) {
    .banner-header {
      flex-direction: column;
      align-items: flex-start;
    }

    .p-banner {
      text-align: left;
      margin-top: 10px;
    }

    .btn {
      margin-top: 10px;
    }
  }
</style>

{% schema %}
{
    "name": "Custom Banner",
    "settings": [
          {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo"
          },
          {
            "type": "text",
            "id": "header_text",
            "label": "Header Text",
            "default": "Find the ideal gift for your loved ones."
          },
          {
            "type": "url",
            "id": "btn_1_link",
            "label": "Button Link"
          },
          {
            "type": "text",
            "id": "button_1_text",
            "label": "Button Text",
            "default": "Choose Gift"
          }
        ],
        "presets": [
            {
                "name": "Custom Banner"
            }
        ]
}
{% endschema %}