<link rel="stylesheet" href="{{ 'custom-grid.css' |  asset_url }}" type="text/css">

<section class="custom-grid_section">
    <div class="custom-grid">
        <div class="custom-grid_header">
            <h2>{{ section.settings.grid_header_txt }}</h2>
        </div>
        <div class="custom_product-grid">
            {% for product in collections.all.products limit:6 %}
                <div class="product-item">
                    {% if product.featured_image %}
                        <img 
                          src="{{ product.featured_image |  image_url  }}" 
                          alt="{{ product.title }}"
                          width="433"
                          height="444"
                        >
                    {% else %}
                        <img 
                          src="{{ 'placeholder.png' |  asset_url  }}" 
                          alt="Placeholder Image"
                          width="433"
                          height="444"
                        >
                    {% endif %}
                    <button 
                      class="view-product" 
                      data-product-handle="{{ product.handle }}"
                    >
                        +
                    </button>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- Popup Modal for Product items -->
 <div id="product-modal" style="display: none;">
    <div class="modal-div">
        <span class="close">&times;</span>
        <div class="modal-content">
            <div class="modal-detail-container">
                <img id="modal-image" src="{{ '' | image_url }}" alt="Product Image" width="120" height="140">
                <div class="modal-text">
                    <h3 id="modal-title"></h3>
                    <p id="popup-price"></p>
                    <p id="popup-description"></p>
                </div>
            </div>
            <label for="variant-color">Color</label>
            <select id="variant-color"></select>
            <label for="variant-size">Size</label>
            <select id="variant-size"></select>
            <button id="add-to-cart-btn">Add to Cart</button>
        </div>
    </div>
 </div>

{% schema %}
{
    "name": "Custom Grid",
    "settings": [
        {
            "type": "text",
            "id": "grid_header_txt",
            "label": "Product Grid Header"
        },
        {
            "type": "product",
            "id": "product_1",
            "label": "Select Product 1"
        },
        {
            "type": "product",
            "id": "product_2",
            "label": "Select Product 2"
        },    
        {
            "type": "product",
            "id": "product_3",
            "label": "Select Product 3"
        },
        {
            "type": "product",
            "id": "product_4",
            "label": "Select Product 4"
        },
        {
            "type": "product",
            "id": "product_5",
            "label": "Select Product 5"
        },
        {
            "type": "product",
            "id": "product_6",
            "label": "Select Product 6"
        }
    ],
    "presets": [
        {
            "name": "Product Grid"
        }
    ]
}
{% endschema %}

{% comment %} Pop Up Functionality {% endcomment %}
 <script>
    document.addEventListener('DOMContentLoaded', function () {
        var modal = document.getElementById('product-modal');
        var modalImg = document.getElementById('modal-image');
        var modalTitle = document.getElementById('modal-title');
        var modalPrice = document.getElementById('popup-price');
        var modalDescription = document.getElementById('popup-description');
        var colorSelect = document.getElementById('variant-color');
        var sizeSelect = document.getElementById('variant-size');
        var addToCartBtn = document.getElementById('add-to-cart-btn');
        var closeModalBtn = document.querySelector('.close');

        var selectedProduct;

        // Popup close function
        function closeModal() {
            modal.style.display = 'none';
        }

        // Popup open function 
        function openModal(productHandle) {
            // Fetching product details through Shopify API 
            fetch('/product/' + productHandle + '.js')
              .then((response) => response.json())
              .then((product) => {
                selectedProduct = product;

                // Setting popup contents with fetch product details
                modalImg.src = product.images[0];
                modalTitle.textContent = product.title;
                modalPrice.textContent = product.price + '$';
                modalDescription.innerHTML = product.description;

                // Clear previous inputs
                colorSelect.innerHTML = '';
                sizeSelect.innerHTML = '';

                // Arrays to store color and size variants
                var colors = new Set();
                var sizes = new Set();

                // Populating the variant dropdowns
                product.variants.forEach(function (variant) {
                    if (variant.option1) {
                        colors.add(variant.option1);
                    }
                    if (variant.option2) {
                        sizes.add(variant.option2)
                    }
                });

                colors.forEach(function (color) {
                    var optionColor = document.createElement('option');
                    optionColor.textContent = color;
                    colorSelect.appendChild(optionColor);
                });
                
                sizes.forEach(function (size) {
                    var optionSize = document.createElement('option');
                    optionSize.textContent = size;
                    sizeSelect.appendChild(optionSize);
                });

                // popup display
                modal.style.display = 'flex';
              })
              .catch((err) => console.error('Error fetching product details:' err));
            }
            
            // adding event listeners to every + button
            document.querySelectorAll('.view-product').forEach(function (button) {
                button.addEventListener('click', function () {
                    // Get product handle
                    var productHandle = this.getAttribute('data-product-handle');
                    openModal(productHandle);
                });
            });

            // Close modal
            closeModalBtn.addEventListener('click', function () {
                closeModal();
            });
            window.addEventListener('click', function (event) {
                if (event.target == modal) {
                    closeModal();
                }
            });
    })
 </script>