<link rel="stylesheet" href="{{ 'custom-banner.css' |  asset_url }}" type="text/css">

<section class="custom-banner">

  <!-- For Mobile screen navigation -->
  <div class="mobile-view">
    <div class="mobile-nav">
      <button class="hamburger" id="hamburger">
        <img src="{{ 'hamburger.png' | asset_url }}" alt="hamburger" width="18" height="10">
      </button>
      {% if section.settings.logo != blank %}
        <img
          src="{{ section.settings.logo |  image_url: 'master' }}"
          alt="Tisso Vison"
          width="151.44"
          height="19"
          {% comment %} onerror="this.src='{{ 'default-logo.png' |  asset_url }}';" {% endcomment %}
        >
      {% else %}
        <img src="{{ 'default-logo.png' | asset_url }}" alt="Default Logo" width="151.44" height="19">
      {% endif %}
    </div>
    <!-- Mobile DropDown -->
    <div class="mobile-menu" id="mobileMenu">
      <div class="p-banner">
        <p>{{ section.settings.header_text }}</p>
      </div>
      <!-- Choose Gift Button -->
      <div class="btn btn_choose-gift">
        <a href="{{ section.settings.btn_1_link }}" class="button" id="choose-gift">
          <p>{{ section.settings.button_1_text }}</p>
          <svg class="arrow-icon" width="27" height="12" viewBox="0 0 27 12" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 5.25C0.585786 5.25 0.25 5.58579 0.25 6C0.25 6.41421 0.585786 6.75 1 6.75L1 5.25ZM26.5303 6.53033C26.8232 6.23743 26.8232 5.76256 26.5303 5.46967L21.7574 0.696697C21.4645 0.403804 20.9896 0.403804 20.6967 0.696697C20.4038 0.989591 20.4038 1.46446 20.6967 1.75736L24.9393 6L20.6967 10.2426C20.4038 10.5355 20.4038 11.0104 20.6967 11.3033C20.9896 11.5962 21.4645 11.5962 21.7574 11.3033L26.5303 6.53033ZM1 6.75L26 6.75L26 5.25L1 5.25L1 6.75Z" fill="currentColor"/>
          </svg>
        </a>
      </div>
    </div>
  </div>

  <!-- For Desktop Screen -->
  <div class="banner-header">
    <!-- Logo -->
    <div class="logo">
      {% if section.settings.logo != blank %}
        <img
          src="{{ section.settings.logo |  image_url: 'master' }}"
          alt="Tisso Vison"
          width="151.44"
          height="19"
          {% comment %} onerror="this.src='{{ 'default-logo.png' |  asset_url }}';" {% endcomment %}
        >
      {% else %}
        <img src="{{ 'default-logo.png' | asset_url }}" alt="Default Logo" width="151.44" height="19">
      {% endif %}
    </div>
    <!-- Header -->
    <div class="p-banner">
      <p>{{ section.settings.header_text }}</p>
    </div>
    <!-- Choose Gift Button -->
    <div class="btn btn_choose-gift">
      <a href="{{ section.settings.btn_1_link }}" class="button" id="choose-gift">
        <p>{{ section.settings.button_1_text }}</p>
        <svg class="arrow-icon" width="27" height="12" viewBox="0 0 27 12" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 5.25C0.585786 5.25 0.25 5.58579 0.25 6C0.25 6.41421 0.585786 6.75 1 6.75L1 5.25ZM26.5303 6.53033C26.8232 6.23743 26.8232 5.76256 26.5303 5.46967L21.7574 0.696697C21.4645 0.403804 20.9896 0.403804 20.6967 0.696697C20.4038 0.989591 20.4038 1.46446 20.6967 1.75736L24.9393 6L20.6967 10.2426C20.4038 10.5355 20.4038 11.0104 20.6967 11.3033C20.9896 11.5962 21.4645 11.5962 21.7574 11.3033L26.5303 6.53033ZM1 6.75L26 6.75L26 5.25L1 5.25L1 6.75Z" fill="currentColor"/>
        </svg>
      </a>
    </div>
  </div>

  <div class="banner-image">
    <div class="banner-image-sec_1">
      <img src="{{ 'banner_Image1.svg' |  asset_url }}" alt="image banner" class="img-bnr" width="1640" height="390">
    </div>
    
    <div class="banner-image-sec_2">
      <div class="banner-image_content">
        <h1>{{ section.settings.head_banner_text }}</h1>
        <p id="desktop_txt" style="color: #000;">{{ section.settings.head_banner_paragraph }}</p>
        <!-- Mobile view text -->
         <p id="mobile_txt" style="color: #000;">{{ section.settings.head_banner_mobile_paragraph }}</p>
        <div class="btn btn_shop-now">
          <a href="{{ section.settings.btn_2_link }}" class="button" id="shop-now">
            <p>{{ section.settings.button_2_text }}</p>
            <svg class="arrow-icon" width="27" height="12" viewBox="0 0 27 12" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 5.25C0.585786 5.25 0.25 5.58579 0.25 6C0.25 6.41421 0.585786 6.75 1 6.75L1 5.25ZM26.5303 6.53033C26.8232 6.23743 26.8232 5.76256 26.5303 5.46967L21.7574 0.696697C21.4645 0.403804 20.9896 0.403804 20.6967 0.696697C20.4038 0.989591 20.4038 1.46446 20.6967 1.75736L24.9393 6L20.6967 10.2426C20.4038 10.5355 20.4038 11.0104 20.6967 11.3033C20.9896 11.5962 21.4645 11.5962 21.7574 11.3033L26.5303 6.53033ZM1 6.75L26 6.75L26 5.25L1 5.25L1 6.75Z" fill="currentColor"/>
            </svg>
          </a>
        </div>
      </div>
      <img
        src="{{ 'banner_Image2.svg' |  asset_url }}"
        alt="image banner"
        class="img-bnr"
        id="banner_img2"
        width="890"
        height="402"
      >
    </div>
  </div>
  <div class="bottom-txt">
    <p>{{ section.settings.bottom_txt_paragraph }}</p>
  </div>
</section>

{% schema %}
{
    "name": "Custom Banner",
    "settings": [
          {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo"
          },
          {
            "type": "text",
            "id": "header_text",
            "label": "Header Text"
          },
          {
            "type": "url",
            "id": "btn_1_link",
            "label": "Button Link"
          },
          {
            "type": "text",
            "id": "button_1_text",
            "label": "Button Text"
          },
          {
            "type": "text",
            "id": "head_banner_text",
            "label": "Banner Heading"
          },
          {
            "type": "textarea",
            "id": "head_banner_paragraph",
            "label": "Banner Paragraph"
          },
          {
            "type": "textarea",
            "id": "head_banner_mobile_paragraph",
            "label": "Banner Mobile Paragraph"
          },
          {
            "type": "url",
            "id": "btn_2_link",
            "label": "Shop Now Button Link"
          },
          {
            "type": "text",
            "id": "button_2_text",
            "label": "Shop Now Button Text"
          },
          {
            "type": "textarea",
            "id": "bottom_txt_paragraph",
            "label": "Bottom Text"
          }
        ],
        "presets": [
            {
                "name": "Custom Banner"
            }
        ]
}
{% endschema %}

<script>
  const hamburger = document.getElementById('hamburger');
  const mobileMenu = document.getElementById('mobileMenu');

  hamburger.addEventListener('click', () => {
  mobileMenu.classList.toggle('active');
});
</script>